
.div .repos-div{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    flex-direction: row;
    width: 100%;
}


.div .Repos-div.block-1{
    display: inline-block;
    flex-wrap: wrap;
    border: 2px solid #60a5fa;
    border-radius: 15px;
    flex-direction: row;
    transition: transform 0.3s; 
}

.div .Repos-div.block-1:hover{
    transform: scale(1.05);
}

.div .Repo-1-MISC{
    display: inline-block;
    border: 2px #a855f7 solid;
    border-radius: 10px;
    width: 128px;
    height: 128px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 0 0px #a855f7;

}


.div #Repo-1-MISC-Image{
    overflow: hidden;
    display: inline-block;
    width:128px;
    Height:128px;
    border-radius: 9px;
}

.div #Repo-1-MISC-Image img{
    display: block;
    width: 100%;
    Height: 100%;
    object-fit: cover;
}

.div #Repo-1-MISC-Title{
    text-align: center;
    color: #fbbf24;
    text-shadow: 0px 0px 5px #fbbf24;
}

.div #Repo-1-MISC-Description{
    text-align: center;
    margin: 5px 0px 0px 0px;
}


.div #Repo-2-I{
    display: inline-block;
    border: 2px black solid;
    width: 128px;
    height: 128px;
}
